<div class="contact-container">

    <!--Left Contact form-->
    <div class="contact-form">
        <h2>Send a message</h2>

        <form nz-form>
            <nz-form-item>
                <nz-form-control>
                    <input nz-input placeholder="Name"/> 
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <input nz-input placeholder="Email"/> 
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <input nz-input placeholder="Subject"/> 
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <textarea nz-input rows="4" placeholder="Message"></textarea>
                </nz-form-control>
            </nz-form-item>

            <button nz-button nzType="primary">Send Message</button>
        </form>
    </div>

    <!--Right Contact info-->
    <div class="contact-info">
        <h2>Contact us</h2>
        <p>we're open for any suggestion or just to have a chat</p>
        <p><i nz-icon nzType="environment"></i><strong>  Address:</strong> 198 West 21th Street, Suite 721, New York NY 10016</p>
        <p><i nz-icon nzType="phone"></i><strong>  Phone: </strong> +1235 2355 98</p>
        <p><i nz-icon nzType="mail"></i><strong>  Email: </strong> info@yoursite.com</p>
        <p><i nz-icon nzType="global"></i><strong>  Website: </strong> yoursite.com</p>
    </div>
</div>
