<div class="container">
    <!-- Left Side -->
  <div class="left-panel">
    <div class="avatar">
<img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="avatar" />    </div>
    <h2>Set Up Your Watch</h2>
    <p>We’re retrieving the data. This will just take a moment.</p>
    <button nz-button nzType="default" class="next-btn" routerLink="/profile-component" routerLinkActive="active">
  <span nz-icon nzType="arrow-right"></span>
</button>
  </div>

  <!--Right Side-->
  <div class="right-panel">
    <h1>-- Profile Section --</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="prf-col">
      <h2>Name: </h2>
      <h2>Gender: </h2>
      <h2>Date of Birth(Dob): </h2>

      <!--Dob>18-->
      <h2>University: </h2>
      <h2>Occupation: </h2>
      <h2>Driving License Number: </h2>
      <h2>Email: </h2>
      <h2>Contact Number: </h2>

       <!--dob < 18-->
       <h2>School Name: </h2>
       <h2>Parent/Guardian Name: </h2>
       <h2>Parent/Guardian Contact: </h2>
       <h2>Guardian Relationship: </h2>
    </div>
  </div>
</div>
