<div class="container">
  <!-- Left Side -->
  <div class="left-panel">
    <div class="avatar">
      <img
        src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
        alt="avatar"
      />
    </div>
    <h2>Set Up Your Watch</h2>
    <p>We’re retrieving the data. This will just take a moment.</p>
    <button
      nz-button
      nzType="default"
      class="next-btn"
    >
      <span nz-icon nzType="arrow-right"></span>
    </button>
  </div>

  <!--Right Side-->
  <div class="right-panel">
    <h1>-- Profile Section --</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="prf-col" *ngIf="userData">
      <div class="user-info">
        <span class="label">Name: </span>
        <span class="value">{{ userData.name }}</span><br>

        <span class="label">Gender: </span>
        <span class="value">{{ userData.gender }}</span><br>

        <span class="label">Date of Birth (Dob): </span>
        <span class="value">{{ userData.dob }}</span>


      <!-- Show if age >= 18 -->
      <div *ngIf="isOver18">
        <span class="label">University: </span>
        <span class="value">{{ userData.university }}</span><br>

        <span class="label">Occupation: </span>
        <span class="value">{{ userData.occupation }}</span><br>

        <span class="label">Driving License Number: </span>
        <span class="value">{{ userData.drivingLicense }}</span><br>

        <span class="label">Email: </span>
        <span class="value">{{ userData.email }}</span><br>

        <span class="label">Contact Number: </span>
        <span class="value">{{ userData.contactNumber }}</span><br>

      </div>

      <!-- Show if age < 18 -->
      <div *ngIf="!isOver18">
        <span class="label">School Name: </span>
        <span class="value">{{ userData.schoolName }}</span><br>

        <span class="label">Parent/Guardian Name: </span>
        <span class="value">{{ userData.guardianName }}</span><br>

        <span class="label">Parent/Guardian Contact: </span>
        <span class="value">{{ userData.guardianContact }}</span><br>

        <span class="label">Guardian Relationship: </span>
        <span class="value">{{ userData.relationship }}</span><br>

      </div>

       </div>

  </div>
</div>
